.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background: #59a9ff;
}

header nav .logo {
    height: 50px;
}

header nav input[type="search"] {
    width: 300px;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    outline: none;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}